.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scenes {
  display: flex;
}

.scene {
  margin: 0.2%;
  padding: 0%;
}

.scene {
  border-style: solid;
  border-color: #61dafb;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.trackName {
  font-size: medium;
  margin: 0;
}

.sceneHeader {
  margin: 1%;
  /* display: flex;
  flex-direction: row; */
  padding: 0%;
}

iframe {
  display: block;
}

p {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.coffee_widget {
  /* margin-bottom: 1%; */
}

a:link,
a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  text-decoration: underline;
}

h4 {
  padding: 0;
  margin: 0;
}

label {
  font-size: small;
}

.infoAlert {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}

.footerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-play:active, .fa-pause:active{
 color: gray;
}